# Copie para .env e preencha
# cp .env.example .env

PARADISE_API_KEY=sk_sua_chave_secreta_aqui
UTMIFY_API_TOKEN=seu_token_utmify_aqui
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/SEU/WEBHOOK
PORT=3000
